package-lock.json
node_modules
src*/__pycache__/*
src/
push-tGame.ps
package.json
.\package.json
.vscode\
cspell.json
.\.cspell\
.\.cspell\*
.cspell\
.cspell\*
.\.cspell\custom-dictionary-workspace.txt
.cspell\custom-dictionary-workspace.txt
.\.vscode\
.\.vscode\*
.vscode\
.vscode\*
.vscode\settings.json
.\.vscode\settings.json
